*
!*/

!/install.sh
!/setup.sh
!/packages/git/config
!/packages/ideavim/.ideavimrc
!/packages/karabiner/.config/karabiner/karabiner.json
!/packages/neovim/.config/nvim/**/*
!/packages/vscode/config/keybindings.json
!/packages/zsh/.zprofile
!/packages/zsh/.zshrc
!/raycast/Raycast.rayconfig
!/vscode/config/settings.json
!/vscode/extensions

!README.md
!.editorconfig
!.gitignore
